name: Publish Snapshot to Maven Central

on:
  push:
    branches: [ main ]
    paths:
      - "src/**"
      - ".github/workflows/publish-snapshot-to-maven-central.yml"
      - "build.gradle.kts"
      - "settings.gradle.kts"
      - ".gitignore"

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'zulu'
        cache: gradle
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew build -x test
      
    - name: Decode
      run: |
          echo "${{secrets.SIGNING_SECRET_KEY_RING_FILE}}" > ~/.gradle/secring.gpg.b64
          base64 -d ~/.gradle/secring.gpg.b64 > ~/.gradle/secring.gpg
          
    - name: Publish snapshot to Maven Central
      run: ./gradlew publish -Psigning.keyId=${{ env.SIGNING_KEY_ID }} -Psigning.password=${{secrets.SIGNING_PASSWORD}} -Psigning.secretKeyRingFile=$(echo ~/.gradle/secring.gpg)
      env:
        SIGNING_KEY_ID: ${{ secrets.SIGNING_KEY_ID }}
        OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
        OSSRH_SNAPSHOT: true
        
